extends ../layout
block content
	title Portal Academico - Alunos
	br
	br
	br
	h1 Exclusão de Aluno
	br
	a(href="/" title="Home",class="btn btn-default") Voltar
	br
	br
	form(method="POST", action="/alunos/delete/#{value._id}", role="form")
		div(class="form-group")
			label Nome:
			input(type="text", name="nome", class="form-control", value="#{value.nome}")
		div(class="form-group")
			label Matricula:
			input(type="text", name="matricula", class="form-control", value="#{value.matricula}")
		div(class="form-group")
			label Curso:
			input(type="text", name="curso", class="form-control", value="#{value.curso}")
		div(class="form-group")
			label Turno:
			input(type="text", name="turno", class="form-control", value="#{value.turno}")
		div(class="form-group")
			label Periodo:
			input(type="text", name="periodo", class="form-control",value="#{value.periodo}")
		input(type="submit", value="Excluir", class="btn btn-primary")
		br
		br
		br
